#!/bin/bash
CRM_MASTER=`crm status | grep gitlab_ | awk '{ print $4 }'`
if [ "$CRM_MASTER" == "`hostname --fqdn`" ] && [ "$1" != "--force" ]; then
  echo We are master! Please, run this script on the replication node!
  exit
fi

PORT="<%= @port %>"
USER="<%= @user %>"
echo Enter internal ip of primary postgresql server
read HOST
echo Enter password for $USER@$HOST
read -s PASSWORD

echo Stopping PostgreSQL
gitlab-ctl once postgresql
gitlab-ctl kill postgresql
gitlab-ctl stop

echo Backup postgresql.conf
sudo -u gitlab-psql mv /var/opt/gitlab/postgresql/data/postgresql.conf /var/opt/gitlab/postgresql/

echo Cleaning up old cluster directory
sudo -u gitlab-psql rm -rf /var/opt/gitlab/postgresql/data
rm -f /tmp/postgresql.trigger

REPL_SLOT="${LOCAL_HOST//./_}"
echo Create replication slot on master
sudo -u gitlab-psql PGPASSWORD="${PASSWORD}" /opt/gitlab/embedded/bin/psql -h "${HOST}" -U "${USER}" -w template1 <<EOQ
SELECT * FROM pg_create_physical_replication_slot('$REPL_SLOT');
EOQ

echo Starting base backup as replicator
sudo -u gitlab-psql PGPASSWORD="${PASSWORD}" \
  /opt/gitlab/embedded/bin/pg_basebackup \
  --host="${HOST}" \
  --pgdata=/var/opt/gitlab/postgresql/data \
  --username="${USER}" --no-password --verbose \
  --progress --write-recovery-conf \
  --slot="${REPL_SLOT}" --xlog-method=stream

echo Restore postgresql.conf
sudo -u gitlab-psql mv /var/opt/gitlab/postgresql/postgresql.conf /var/opt/gitlab/postgresql/data/

echo Starting PostgreSQL
gitlab-ctl start
