#!/bin/sh
#
#
#	GitLab PGSQL RA. Failsover the GitLab PostgreSQL server and
#	adds a monitor port which can be used by any loadbalancer.
#
# Copyright (c) 2004 SUSE LINUX AG, Lars Marowsky-Brée
#                    All Rights Reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of version 2 of the GNU General Public License as
# published by the Free Software Foundation.
#
# This program is distributed in the hope that it would be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# Further, this software is distributed without any warranty that it is
# free of the rightful claim of any third person regarding infringement
# or the like.  Any license provided herein, whether implied or
# otherwise, applies only to this software file.  Patent licenses, if
# any, provided herein do not apply to combinations of this program with
# other software, or any other product whatsoever.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write the Free Software Foundation,
# Inc., 59 Temple Place - Suite 330, Boston MA 02111-1307, USA.
#

#######################################################################
# Initialization:

: ${OCF_FUNCTIONS=${OCF_ROOT}/resource.d/heartbeat/.ocf-shellfuncs}
. ${OCF_FUNCTIONS}
: ${__OCF_ACTION=$1}

#######################################################################

meta_data() {
	cat <<END
<?xml version="1.0"?>
<!DOCTYPE resource-agent SYSTEM "ra-api-1.dtd">
<resource-agent name="gitlab_pgsql" version="1.0">
<version>1.0</version>

<longdesc lang="en">
This is the GitLab PostgreSQL Resource Agent. It failsover the GitLab PostgreSQL by
touching the trigger file and adds a monitor port which can be used by any
loadbalancer.
</longdesc>
<shortdesc lang="en">GitLab PostgreSQL Resource Agent</shortdesc>

<parameters>
<parameter name="state" unique="1">
<longdesc lang="en">
Location to store the resource state in.
</longdesc>
<shortdesc lang="en">State file</shortdesc>
<content type="string" default="${HA_VARRUN}/gitlab_pgsql-{OCF_RESOURCE_INSTANCE}.state" />
</parameter>

</parameters>

<actions>
<action name="start"        timeout="20" />
<action name="stop"         timeout="20" />
<action name="monitor"      timeout="20" interval="10" depth="0"/>
<action name="reload"       timeout="20" />
<action name="migrate_to"   timeout="20" />
<action name="migrate_from" timeout="20" />
<action name="validate-all" timeout="20" />
<action name="meta-data"    timeout="5" />
</actions>
</resource-agent>
END
}

#######################################################################

# don't exit on TERM, to test that lrmd makes sure that we do exit
trap sigterm_handler TERM
sigterm_handler() {
    ocf_log info "They use TERM to bring us down. No such luck."
    return
}

gitlab_pgsql_usage() {
	cat <<END
usage: $0 {start|stop|monitor|migrate_to|migrate_from|validate-all|meta-data}

Expects to have a fully populated OCF RA-compliant environment set.
END
}

gitlab_pgsql_start() {
    gitlab_pgsql_monitor
    if [ $? =  $OCF_SUCCESS ]; then
	return $OCF_SUCCESS
    fi
    gitlab-ctl start
    touch /tmp/postgresql.trigger
    iptables -t nat -A PREROUTING -p tcp -m tcp --dport <%= @monitor_port %> -j DNAT --to-destination :<%= @port %>
}

gitlab_pgsql_stop() {
    gitlab_pgsql_monitor
    while [ $? =  $OCF_SUCCESS ]; do
        iptables -t nat -D PREROUTING -p tcp -m tcp --dport <%= @monitor_port %> -j DNAT --to-destination :<%= @port %>
    done
    return $OCF_SUCCESS
}

gitlab_pgsql_monitor() {
    iptables -t nat -C PREROUTING -p tcp -m tcp --dport <%= @monitor_port %> -j DNAT --to-destination :<%= @port %>
    if [ $? =  $OCF_SUCCESS ]; then
        return $OCF_SUCCESS
    fi
    return $OCF_NOT_RUNNING
}

gitlab_pgsql_validate() {
    
    # Is the state directory writable? 
    state_dir=`dirname "$OCF_RESKEY_state"`
    touch "$state_dir/$$"
    if [ $? != 0 ]; then
	return $OCF_ERR_ARGS
    fi
    rm "$state_dir/$$"

    return $OCF_SUCCESS
}

: ${OCF_RESKEY_CRM_meta_interval=0}
: ${OCF_RESKEY_CRM_meta_globally_unique:="true"}

if [ "x$OCF_RESKEY_state" = "x" ]; then
    if [ ${OCF_RESKEY_CRM_meta_globally_unique} = "false" ]; then
	state="${HA_VARRUN}/gitlab_pgsql-${OCF_RESOURCE_INSTANCE}.state"
	
	# Strip off the trailing clone marker
	OCF_RESKEY_state=`echo $state | sed s/:[0-9][0-9]*\.state/.state/`
    else 
	OCF_RESKEY_state="${HA_VARRUN}/gitlab_pgsql-${OCF_RESOURCE_INSTANCE}.state"
    fi
fi

case $__OCF_ACTION in
meta-data) meta_data
    exit $OCF_SUCCESS
    ;;
start) gitlab_pgsql_start;;
stop) gitlab_pgsql_stop;;
monitor) gitlab_pgsql_monitor;;
migrate_to) ocf_log info "Migrating ${OCF_RESOURCE_INSTANCE} to ${OCF_RESKEY_CRM_meta_migrate_target}."
    gitlab_pgsql_stop
    ;;
migrate_from) ocf_log info "Migrating ${OCF_RESOURCE_INSTANCE} to ${OCF_RESKEY_CRM_meta_migrate_source}."
    gitlab_pgsql_start
    ;;
reload) ocf_log err "Reloading..."
    gitlab_pgsql_start
    ;;
validate-all) gitlab_pgsql_validate;;
usage|help) gitlab_pgsql_usage
    exit $OCF_SUCCESS
    ;;
*)  gitlab_pgsql_usage
    exit $OCF_ERR_UNIMPLEMENTED
    ;;
esac
rc=$?
ocf_log debug "${OCF_RESOURCE_INSTANCE} $__OCF_ACTION : $rc"
exit $rc

